---
import type { QRCodeProps } from "@/infrastructure/interfaces";

const { username, title } = Astro.props as QRCodeProps;
---

<page-qrcode>
  <div class="bg-white rounded-lg pb-8 mb-8 text-center">
    <div id="qrcode" class="flex mx-auto justify-center pt-12 pb-4"></div>
    <label class="text-black font-bold text-sm capitalize">{username}</label>
    <br />
    <label class="text-black capitalize text-xs">{title}</label>
  </div>
</page-qrcode>

<!-- Scripts -->
<script
  is:inline
  src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
<script is:inline>
  class PageQRCode extends HTMLElement {
    constructor() {
      super();
      document.onreadystatechange = function () {
        if (document.readyState === "interactive") {
          new QRCode(document.getElementById("qrcode"), {
            // TODO: Change this if you want to test on Localhost
            text: window.location.href,
            maxWidth: 600,
            maxHeight: 600,
            minWidth: 500,
            minHeight: 500,
            colorDark: "#000",
            colorLight: "#fff",
            correctLevel: QRCode.CorrectLevel.H,
          });
        }
        if (document.readyState === "complete") {
          // console.log("Page is fully loaded");
        }
      };
    }
  }
  customElements.define("page-qrcode", PageQRCode);
</script>
