---
import { RiArrowLeftLine } from "@remixicon/react";
import { ArrowLeft } from "lucide-react";

const totalSteps = 4;
interface Props {
  step: number;
}

const { step } = Astro.props;
---

<div>
  <div class="flex justify-between items-center text-white h-20 px-4">
    <!-- Icon -->
    <a onclick="history.back()">
      <ArrowLeft
        size={25}
        strokeWidth={2}
        color="white"
        className="cursor-pointer"
        aria-hidden="true"
      />
    </a>
    <!-- Title -->
    <div>Step {step} of 4</div>
    <!-- Icon -->
    <div>Skip</div>
  </div>
  <hr class="border-neutral-700 border-b-[0.5px]" />
  <!-- Steppers -->
  <div class="flex items-stretch text-white pt-6 gap-3">
    {
      Array.from({ length: totalSteps }, (_, i) => {
        return (
          <div class:list={["step", i + 1 <= step ? "completed" : "dim"]} />
        );
      })
    }
  </div>

  <style>
    .step {
      height: 4px;
      width: 100%;
      border-radius: 10px;
    }
    .dim {
      background-color: #5b5e60;
    }

    .completed {
      background-color: white;
    }
  </style>
</div>
