---
import incomingData from "@/data/la_confe/test-datasource.json";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import logo from "@public/svg/logo.svg";
import { Image } from "astro:assets";
import "@styles/breadcrumbs.css";
import TASLogoSlogan from "@public/companies/tas-slogan.png";
import TASNavbar from "@/components/TASNavbar.astro";
import LaConfeCard from "@/components/LaConfeCard.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={"Directorio TAS"}
      description={"Conecta con nuestro equipo "}
      image="https://res.cloudinary.com/dmisxmy8o/image/upload/c_pad,w_500,h_500/v1716589813/business/tas-slogan_rol554.png"
      headerColor="#ffffff"
    />
  </head>
  <body>
    <TASNavbar />
    <section>
      <div class="mx-auto max-w-screen-xl px-8 pt-6">
        <!-- LABEL -->
        <label class="text-white text-xl font-semibold">Directorio TAS</label>
        <!-- FORM -->
        <form class="flex items-center mx-auto w-full pt-4">
          <!-- SEARCH -->
          <label for="simple-search" class="sr-only">Search</label>
          <div class="relative w-full">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <!-- ICON -->
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M8 4C6.93913 4 5.92172 4.42143 5.17157 5.17158C4.42143 5.92172 4 6.93914 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93914 11.5786 5.92172 10.8284 5.17158C10.0783 4.42143 9.06087 4 8 4ZM2 8C1.99988 7.05571 2.22264 6.12472 2.65017 5.28274C3.0777 4.44077 3.69792 3.7116 4.4604 3.15453C5.22287 2.59746 6.10606 2.22822 7.03815 2.07684C7.97023 1.92546 8.92488 1.99621 9.82446 2.28335C10.724 2.57049 11.5432 3.06591 12.2152 3.7293C12.8872 4.39269 13.3931 5.20534 13.6919 6.10114C13.9906 6.99693 14.0737 7.9506 13.9343 8.88456C13.795 9.81852 13.4372 10.7064 12.89 11.476L17.707 16.293C17.8892 16.4816 17.99 16.7342 17.9877 16.9964C17.9854 17.2586 17.8802 17.5094 17.6948 17.6948C17.5094 17.8802 17.2586 17.9854 16.9964 17.9877C16.7342 17.99 16.4816 17.8892 16.293 17.707L11.477 12.891C10.5794 13.5293 9.52335 13.9082 8.42468 13.9861C7.326 14.0641 6.22707 13.8381 5.2483 13.333C4.26953 12.8278 3.44869 12.063 2.87572 11.1224C2.30276 10.1817 1.99979 9.10144 2 8Z"
                  fill="white"
                  fill-opacity="0.6"></path>
              </svg>
            </div>
            <!-- ICON -->
            <input
              type="text"
              id="searchbox"
              class="bg-neutral-900 border border-neutral-700 text-white text-sm rounded-lg w-full ps-10 p-2.5 focus:ring-0"
              placeholder="Buscar"
              required
            />
          </div>
        </form>

        <!-- Dropdown -->
        <div class="min-h-screen pt-4">
          <button
            id="dropdown-button"
            data-dropdown-toggle="dropdown-content"
            class="mx-auto w-full bg-neutral-900 border border-neutral-700 text-white text-sm rounded-lg justify-between p-2.5 hover:bg-blue-800 focus:ring-0 focus:outline-none focus:ring-blue-300 font-medium px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Todos los departamentos
            <svg
              class="w-2.5 h-2.5 ms-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"></path>
            </svg>
          </button>

          <!-- Dropdown menu -->
          <div
            id="dropdown-content"
            class="z-10 hidden bg-neutral-700 divide-y divide-white rounded-lg shadow w-10/12 mx-auto"
          >
            <ul
              class="py-2 text-sm text-white"
              aria-labelledby="dropdownDefaultButton"
            >
              <li>
                <a
                  onclick="updateFilter('ventas')"
                  class="block text-white cursor-pointer px-4 py-2 hover:bg-gray-100 hover:text-accent"
                  >Ventas</a
                >
              </li>
              <li>
                <a
                  onclick="updateFilter('administracion')"
                  class="block text-white cursor-pointer px-4 py-2 hover:bg-gray-100 hover:text-accent"
                  >Administración</a
                >
              </li>
              <li>
                <a
                  onclick="updateFilter('finanzas')"
                  class="block text-white cursor-pointer px-4 py-2 hover:bg-gray-100 hover:text-accent"
                  >Finanzas</a
                >
              </li>
              <li>
                <a
                  onclick="updateFilter('mantenimiento')"
                  class="block text-white cursor-pointer px-4 py-2 hover:bg-gray-100 hover:text-accent"
                  >Mantenimiento</a
                >
              </li>
              <li>
                <a
                  onclick="updateFilter('soporte')"
                  class="block text-white cursor-pointer px-4 py-2 hover:bg-gray-100 hover:text-accent"
                  >Soporte</a
                >
              </li>
              <li>
                <a
                  onclick="updateFilter('proyectos')"
                  class="block text-white cursor-pointer px-4 py-2 hover:bg-gray-100 hover:text-accent"
                  >Proyectos</a
                >
              </li>
              <li>
                <a
                  onclick="updateFilter('operaciones')"
                  class="block text-white cursor-pointer px-4 py-2 hover:bg-gray-100 hover:text-accent"
                  >Operaciones</a
                >
              </li>
              <li>
                <a
                  onclick="updateFilter('i+d')"
                  class="block text-white cursor-pointer px-4 py-2 hover:bg-gray-100 hover:text-accent"
                  >I + D</a
                >
              </li>
              <li>
                <a
                  onclick="updateFilter('compras')"
                  class="block text-white cursor-pointer px-4 py-2 hover:bg-gray-100 hover:text-accent"
                  >Compras</a
                >
              </li>
              <li>
                <a
                  onclick="updateFilter('talento_humano')"
                  class="block text-white cursor-pointer px-4 py-2 hover:bg-gray-100 hover:text-accent"
                  >Talento Humano</a
                >
              </li>
            </ul>
          </div>
          <!-- LOOPED DATA -->
          <div class="pt-8">
            <div class="pb-5">
              <label id="currentFilterDataLabel" class="text-white text-lg"
              ></label>
              <label id="currentFilterSearchLabel" class="text-white text-lg"
              ></label>
            </div>

            {
              incomingData
                .sort(function (a, b) {
                  if (a.username < b.username) {
                    return -1;
                  }
                  if (a.username > b.username) {
                    return 1;
                  }
                  return 0;
                })
                .map((entry) => {
                  return <LaConfeCard entry={entry} />;
                })
            }
          </div>
        </div>
      </div>
      <Footer />
    </section>

    <script is:inline>
      const currentFilterDataLabel = document.getElementById(
        "currentFilterDataLabel"
      );
      const currentFilterSearchLabel = document.getElementById(
        "currentFilterSearchLabel"
      );
      const currentFilterSearchValue = document.getElementById("searchbox");

      document.onreadystatechange = function () {
        if (document.readyState === "interactive") {
          currentFilterDataLabel.innerText = "todos_depto";
        }
      };

      function updateFilter(filterParam) {
        currentFilterDataLabel.innerText = filterParam;
        document.getElementById("dropdown-content").classList.add("hidden");
        document.getElementById("dropdown-button").innerText = filterParam;
      }

      document
        .getElementById("searchbox")
        .addEventListener("input", function () {
          currentFilterSearchLabel.innerText =
            "+ " + currentFilterSearchValue.value;
        });
    </script>
  </body>
</html>
