---
import { Image } from "astro:assets";
import TASSquare from "@public/companies/tas/tas-square.jpg";

interface Props {
  entry: any;
  isStrapi?: boolean;
}
const { entry, isStrapi = false } = Astro.props;

const userData = isStrapi ? entry.basic_user_profile : entry;
---

<a
  href={`/business/tas/${entry.slug}`}
  class="flex w-full align-middle items-center mb-6"
>
  <Image
    format={"avif"}
    alt={"Image"}
    src={userData.profile_picture ? userData.profile_picture : TASSquare}
    quality={"mid"}
    height={1000}
    width={1000}
    style="border-radius: 20px; height: 120px; width: 120px;"
  />
  <div class="pl-4">
    <label class="text-lg text-white block capitalize"
      >{userData.full_name}</label
    >
    <label class="text-sm text-typography-light-secondary capitalize"
      >{userData.title}</label
    >
  </div>
</a>
