---
import incomingData from "@/data/la_confe/test-datasource.json";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import logo from "@public/svg/logo.svg";
import { Image } from "astro:assets";
import LaConfeCard from "@/components/LaConfeCard.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"La Confe"} description={"All users"} />
  </head><header>
    <nav
      class="bg-neutral-1000 px-4 lg:px-6 py-2.5 border-b-neutral-700 border-b-[0.5px]"
    >
      <div
        class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
      >
        <a href="/" class="flex items-center">
          <Image
            height={40}
            width={40}
            src={logo}
            alt="Kahete Logo"
            format={"avif"}
            quality={"mid"}
          />
        </a>
      </div>
    </nav>
  </header>
  <body>
    <section class="bg-neutral-1000 py-4 xl:px-16 px-8">
      <label class="text-white text-lg">La Confe 28</label>
      <div class="mt-6 flex flex-wrap mb-4">
        <span
          class="text-white text-sm py-2 text-center bg-background cursor-pointer px-4 border-typography-dark-secondary border-2 rounded-lg mr-4 mb-4"
          >All</span
        >
        <span
          class="text-white text-sm py-2 text-center bg-background cursor-pointer px-4 border-typography-dark-secondary border-2 rounded-lg mr-4 mb-4"
          >El Salvador</span
        >
        <span
          class="text-white text-sm py-2 text-center bg-background cursor-pointer px-4 border-typography-dark-secondary border-2 rounded-lg mr-4 mb-4"
          >Panamá</span
        >
        <span
          class="text-white text-sm py-2 text-center bg-background cursor-pointer px-4 border-typography-dark-secondary border-2 rounded-lg mr-4 mb-4"
          >Honduras</span
        >
        <span
          class="text-white text-sm py-2 text-center bg-background cursor-pointer px-4 border-typography-dark-secondary border-2 rounded-lg mr-4 mb-4"
          >Nicaragua</span
        >
        <span
          class="text-white text-sm py-2 text-center bg-background cursor-pointer px-4 border-typography-dark-secondary border-2 rounded-lg mr-4 mb-4"
          >Costa Rica</span
        >
        <span
          class="text-white text-sm py-2 text-center bg-background cursor-pointer px-4 border-typography-dark-secondary border-2 rounded-lg mr-4 mb-4"
          >Belice</span
        >
      </div>
      {
        incomingData.map((entry) => {
          return <LaConfeCard entry={entry} />;
        })
      }
    </section>
    <Footer />
  </body>
</html>
