---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import Header from "@/components/Header.astro";
import right_arrow from "@public/svg/right_arrow.svg";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={"404"}
      description={"Page not found"}
      image="https://res.cloudinary.com/dmisxmy8o/image/upload/v1713747315/kahete_icon_logo_itc9mz.svg"
    />
  </head>
  <body>
    <Header displayGetStartedButton={false} />
    <section class="bg-neutral-1000">
      <div
        class="py-2 px-6 mx-auto max-w-screen-xl sm:py-8 lg:px-6 h-screen justify-items-center"
      >
        <div class="mx-auto max-w-screen-sm text-center relative top-36">
          <div class="text-center pb-8 text-base">
            <h1 class="font-bold text-white text-8xl">404</h1>
            <h4 class="text-white font-semibold">Page not found</h4>
            <span class="text-about font-normal">
              The page you are looking for can't be found.
            </span>
          </div>
          <a
            href="/"
            class="inline-flex items-center justify-center cursor-pointer
            text-black bg-accent font-medium rounded-full text-sm pl-4 pr-1 py-2 mr-2"
          >
            <span class="text-black font-semibold text-sm pr-2"
              >Back to homepage</span
            >
            <Image
              height={30}
              width={30}
              src={right_arrow}
              alt="Download contact"
              format={"avif"}
              quality={"mid"}
              class="justify-start pr-2"
            />
          </a>
        </div>
      </div>
      <Footer />
    </section>
  </body>
</html>
