---
import MainLayout from "@/layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";
---

<MainLayout>
  <section class="h-screen">
    <div>
      <div class="flex justify-center items-center p-12">
        <Icon name={"commons/kahete-icon"} size={48} />
      </div>
      <!-- Titles -->
      <div class="flex flex-col items-start justify-center p-4">
        <h2 class="title">Claim your unique link</h2>
        <h4 class="subtitle">The good ones are still available!</h4>
      </div>
    </div>
    <div class="justify-center items-center">
      <input type="text" placeholder="Enter your link" class="w-full" />
    </div>
    <!-- Select plan  -->
  </section>
</MainLayout>
