---
import { ClaimLinkForm } from "@/components/forms/claim-link.form";
import MainLayout from "@/layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";
---

<MainLayout>
  <div class="h-[100svh]">
    <div class="flex justify-center items-center py-8">
      <Icon name={"commons/kahete-icon"} size={48} />
    </div>
    <!-- Titles -->
    <div class="flex flex-col items-start justify-center p-4">
      <h2 class="title">Claim your unique link</h2>
      <h4 class="subtitle">The good ones are still available!</h4>
    </div>

    <!-- FORM -->
    <ClaimLinkForm client:load />
  </div>
</MainLayout>
