---
import { ClaimLinkForm } from "@/components/forms/claim-link.form";
import MainLayout from "@/layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";
---

<MainLayout>
  <div class="h-[70svh]">
    <div class="flex justify-center items-center py-8">
      <Icon name={"commons/kahete-icon"} size={48} />
    </div>
    <ClaimLinkForm client:load />
  </div>
</MainLayout>
