---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <section class="bg-neutral-1000">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-white">
            Made for people. Built for productivity.
          </h2>
          <p class="mb-6 font-light text-white md:text-lg">
            Kahete is the connected workspace better, faster work happens.
          </p>
          <a
            href="#"
            class="text-black bg-accent hover:bg-neutral-700 hover:text-white active:text-white focus:text-white focus:bg-neutral-800 font-medium rounded-full text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2"
            >Get started</a
          >
        </div>
      </div>
      <div
        class="lg:mt-0 lg:col-span-5 lg:flex max-w-full justify-center items-center justify-self-center"
      >
        <img
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png"
          class="lg:w-2/4 lg:h-2/4"
          alt="mockup"
        />
      </div>
    </section>
	<!-- BENEFITS -->
	<section class="bg-neutral-950">
		<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
			<div class="max-w-screen-full mb-8 lg:mb-16 lg:px-32 text-center">
				<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 text-white">Designed for business teams like yours</h2>
				<p class="text-white sm:text-xl ">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
			</div>
			<div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
				<div>
					<div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 ">
						<svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
					</div>
					<h3 class="mb-2 text-xl font-bold text-white">Marketing</h3>
					<p class="text-white ">Plan it, create it, launch it. Collaborate seamlessly with all  the organization and hit your marketing goals every month with our marketing plan.</p>
				</div>
				<div>
					<div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 ">
						<svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z"></path></svg>
					</div>
					<h3 class="mb-2 text-xl font-bold text-white">Legal</h3>
					<p class="text-white ">Protect your organization, devices and stay compliant with our structured workflows and custom permissions made for you.</p>
				</div>
				<div>
					<div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 ">
						<svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clip-rule="evenodd"></path><path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"></path></svg>                    
					</div>
					<h3 class="mb-2 text-xl font-bold text-white">Business Automation</h3>
					<p class="text-white ">Auto-assign tasks, send Slack messages, and much more. Now power up with hundreds of new templates to help you get started.</p>
				</div>
				<div>
					<div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 ">
						<svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z"></path><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z" clip-rule="evenodd"></path></svg>
					</div>
					<h3 class="mb-2 text-xl font-bold text-white">Finance</h3>
					<p class="text-white ">Audit-proof software built for critical financial operations like month-end close and quarterly budgeting.</p>
				</div>
				<div>
					<div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 ">
						<svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path></svg>
					</div>
					<h3 class="mb-2 text-xl font-bold text-white">Enterprise Design</h3>
					<p class="text-white ">Craft beautiful, delightful experiences for both marketing and product with real cross-company collaboration.</p>
				</div>
				<div>
					<div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 ">
						<svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
					</div>
					<h3 class="mb-2 text-xl font-bold text-white">Operations</h3>
					<p class="text-white ">Keep your company’s lights on with customizable, iterative, and structured workflows built for all efficient teams and individual.</p>
				</div>
			</div>
		</div>
	  </section>
	<!-- /BENEFITS -->
	<!-- SOCIAL PROOF -->
	<section class="bg-neutral-900 text-white">
		<div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
			<dl class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-3 ">
				<div class="flex flex-col items-center justify-center">
					<dt class="mb-2 text-3xl md:text-4xl font-extrabold">73M+</dt>
					<dd class="font-light text-white ">developers</dd>
				</div>
				<div class="flex flex-col items-center justify-center">
					<dt class="mb-2 text-3xl md:text-4xl font-extrabold">1B+</dt>
					<dd class="font-light text-white ">contributors</dd>
				</div>
				<div class="flex flex-col items-center justify-center">
					<dt class="mb-2 text-3xl md:text-4xl font-extrabold">4M+</dt>
					<dd class="font-light text-white ">organizations</dd>
				</div>
			</dl>
		</div>
	  </section>
	<!-- /SOCIAL PROOF -->
    <!-- PRICES -->
	<section class="bg-neutral-950">
		<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
			<div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
				<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-90 text-white">Designed for business teams like yours</h2>
				<p class="mb-5 font-light text-white sm:text-xl">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
			</div>
			<div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
				<!-- Pricing Card -->
				<div class="flex flex-col p-6 mx-auto max-w-lg text-center bg-neutral-900 rounded-lg border border-gray-100 shadow  xl:p-8  text-white">
					<h3 class="mb-4 text-2xl font-semibold text-white">Starter</h3>
					<p class="font-light text-white sm:text-lg ">Best option for personal use & for your next project.</p>
					<div class="flex justify-center items-baseline my-8">
						<span class="mr-2 text-5xl font-extrabold">$29</span>
						<span class="text-white ">/month</span>
					</div>
					<!-- List -->
					<ul role="list" class="mb-8 space-y-4 text-left">
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>Individual configuration</span>
						</li>
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>No setup, or hidden fees</span>
						</li>
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>Team size: <span class="font-semibold">1 developer</span></span>
						</li>
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>Premium support: <span class="font-semibold">6 months</span></span>
						</li>
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>Free updates: <span class="font-semibold">6 months</span></span>
						</li>
					</ul>
					<a href="#" class="text-white bg-secondary-900 hover:bg-neutral-900 focus:ring-4 focus:ring-neutral-950  focus:text-neutral-950 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Get started</a>
				</div>
				<!-- Pricing Card -->
				<div class="flex flex-col p-6 mx-auto max-w-lg text-center text-white bg-neutral-900 rounded-lg border border-gray-100 shadow  xl:p-8  ">
					<h3 class="mb-4 text-2xl font-semibold text-white">Company</h3>
					<p class="font-light  sm:text-lg ">Relevant for multiple users, extended & premium support.</p>
					<div class="flex justify-center items-baseline my-8">
						<span class="mr-2 text-5xl font-extrabold ">$99</span>
						<span class="text-white ">/month</span>
					</div>
					<!-- List -->
					<ul role="list" class="mb-8 space-y-4 text-left">
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>Individual configuration</span>
						</li>
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>No setup, or hidden fees</span>
						</li>
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>Team size: <span class="font-semibold">10 developers</span></span>
						</li>
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>Premium support: <span class="font-semibold">24 months</span></span>
						</li>
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>Free updates: <span class="font-semibold">24 months</span></span>
						</li>
					</ul>
					<a href="#" class="text-white bg-secondary-900 hover:bg-neutral-900 focus:ring-4 focus:ring-neutral-950  focus:text-neutral-950 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Get started</a>
				</div>
				<!-- Pricing Card -->
				<div class="flex flex-col p-6 mx-auto max-w-lg text-center text-white bg-neutral-900 rounded-lg border border-gray-100 shadow  xl:p-8  ">
					<h3 class="mb-4 text-2xl font-semibold text-white">Enterprise</h3>
					<p class="font-light sm:text-lg">Best for large scale uses and extended redistribution rights.</p>
					<div class="flex justify-center items-baseline my-8">
						<span class="mr-2 text-5xl font-extrabold">$499</span>
						<span class="">/month</span>
					</div>
					<!-- List -->
					<ul role="list" class="mb-8 space-y-4 text-left ">
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>Individual configuration</span>
						</li>
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>No setup, or hidden fees</span>
						</li>
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>Team size: <span class="font-semibold">100+ developers</span></span>
						</li>
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>Premium support: <span class="font-semibold">36 months</span></span>
						</li>
						<li class="flex items-center space-x-3">
							<!-- Icon -->
							<svg class="flex-shrink-0 w-5 h-5 text-green-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
							<span>Free updates: <span class="font-semibold">36 months</span></span>
						</li>
					</ul>
					<a href="#" class="text-white bg-secondary-900 hover:bg-neutral-900 focus:ring-4 focus:ring-neutral-950  focus:text-neutral-950 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Get started</a>
				</div>
			</div>
		</div>
	  </section>
	  <!-- /PRICES -->
	  <!-- BLOG -->
	  <div class="bg-neutral-950 py-24 sm:py-32 text-white">
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
		  <div class="mx-auto max-w-2xl lg:mx-0 ">
			<h2 class="text-3xl font-bold tracking-tight sm:text-4xl text-white">From the blog</h2>
			<p class="mt-2 text-lg leading-8">Learn how to grow your business with our expert advice.</p>
		  </div>
		  <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-white pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
			<article class="flex max-w-xl flex-col items-start justify-between">
			  <div class="flex items-center gap-x-4 text-xs">
				<time datetime="2020-03-16" class="text-white">Mar 16, 2020</time>
				<a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-white hover:bg-gray-100">Marketing</a>
			  </div>
			  <div class="group relative">
				<h3 class="mt-3 text-lg font-semibold leading-6 text-text-white group-hover:text-neutral-100">
				  <a href="#">
					<span class="absolute inset-0 text-white"></span>
					Boost your conversion rate
				  </a>
				</h3>
				<p class="mt-5 line-clamp-3 text-sm leading-6 text-white">Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.</p>
			  </div>
			  <div class="relative mt-8 flex items-center gap-x-4">
				<img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-50">
				<div class="text-sm leading-6">
				  <p class="font-semibold text-white">
					<a href="#">
					  <span class="absolute inset-0"></span>
					  Michael Foster
					</a>
				  </p>
				  <p class="text-white">Co-Founder / CTO</p>
				</div>
			  </div>
			</article>
			<article class="flex max-w-xl flex-col items-start justify-between">
			  <div class="flex items-center gap-x-4 text-xs">
				<time datetime="2020-03-16" class="text-white">Mar 16, 2020</time>
				<a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-white hover:bg-gray-100">Marketing</a>
			  </div>
			  <div class="group relative">
				<h3 class="mt-3 text-lg font-semibold leading-6 text-text-white group-hover:text-neutral-100">
				  <a href="#">
					<span class="absolute inset-0 text-white"></span>
					Boost your conversion rate
				  </a>
				</h3>
				<p class="mt-5 line-clamp-3 text-sm leading-6 text-white">Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.</p>
			  </div>
			  <div class="relative mt-8 flex items-center gap-x-4">
				<img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-50">
				<div class="text-sm leading-6">
				  <p class="font-semibold text-white">
					<a href="#">
					  <span class="absolute inset-0"></span>
					  Michael Foster
					</a>
				  </p>
				  <p class="text-white">Co-Founder / CTO</p>
				</div>
			  </div>
			</article>
			<article class="flex max-w-xl flex-col items-start justify-between">
			  <div class="flex items-center gap-x-4 text-xs">
				<time datetime="2020-03-16" class="text-white">Mar 16, 2020</time>
				<a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-white hover:bg-gray-100">Marketing</a>
			  </div>
			  <div class="group relative">
				<h3 class="mt-3 text-lg font-semibold leading-6 text-text-white group-hover:text-neutral-100">
				  <a href="#">
					<span class="absolute inset-0 text-white"></span>
					Boost your conversion rate
				  </a>
				</h3>
				<p class="mt-5 line-clamp-3 text-sm leading-6 text-white">Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.</p>
			  </div>
			  <div class="relative mt-8 flex items-center gap-x-4">
				<img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-50">
				<div class="text-sm leading-6">
				  <p class="font-semibold text-white">
					<a href="#">
					  <span class="absolute inset-0"></span>
					  Michael Foster
					</a>
				  </p>
				  <p class="text-white">Co-Founder / CTO</p>
				</div>
			  </div>
			</article>
	  
			<!-- More posts... -->
		  </div>
		</div>
	  </div>
	  <!-- /BLOG -->
	  <!-- TESTIMONIALS -->
	  <section class="bg-neutral-950 text-white pb-32">
		<div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
			<figure class="max-w-screen-md mx-auto">
				<svg class="h-12 mx-auto mb-3" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="white"/>
				</svg> 
					<p class="text-2xl font-medium ">"Flowbite is just awesome. It contains tons of predesigned components and pages starting from login screen to complex dashboard. Perfect choice for your next SaaS application."</p>
				<figcaption class="flex items-center justify-center mt-6 space-x-3">
					<img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">
					<div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
						<div class="pr-3 font-medium  ">Micheal Gough</div>
						<div class="pl-3 text-sm font-light text-white ">CEO at Google</div>
					</div>
				</figcaption>
			</figure>
		</div>
	  </section>
	  <!-- /TESTIMONIALS -->
	  <!-- CONTACT -->
	  <section class="bg-neutral-950 text-white">
		<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center  text-white">Contact Us</h2>
			<p class="mb-8 lg:mb-16 font-light text-center text-white  sm:text-xl">Got a technical issue? Want to send feedback about a beta feature? Need details about our Business plan? Let us know.</p>
			<form action="#" class="space-y-8">
				<div>
					<label for="email" class="block mb-2 text-sm font-medium">Your email</label>
					<input type="email" id="email" class="shadow-sm bg-neutral-900 border border-neutral-300 text-sm rounded-lg focus:ring-primary-500 focus:border-neutral-500 block w-full p-2.5 text-white" placeholder="name@flowbite.com" required>
				</div>
				<div>
					<label for="subject" class="block mb-2 text-sm font-medium">Subject</label>
					<input type="text" id="subject" class="block p-3 w-full text-sm  bg-neutral-900 rounded-lg border border-neutral-300 shadow-sm focus:ring-neutral-500 focus:border-neutral-500 text-white" placeholder="Let us know how we can help you" required>
				</div>
				<div class="sm:col-span-2">
					<label for="message" class="block mb-2 text-sm font-medium">Your message</label>
					<textarea id="message" rows="6" class="block p-2.5 w-full text-sm  bg-neutral-900 rounded-lg shadow-sm border border-neutral-300 focus:ring-neutral-500 focus:border-neutral-500 text-white" placeholder="Leave a comment..."></textarea>
				</div>
				<button type="submit" class="py-3 px-5 text-sm font-medium text-center text-black rounded-lg bg-accent hover:bg-neutral-800 focus:ring-4 focus:outline-none">Send message</button>
			</form>
		</div>
	  </section>
	  <!-- END CONTACT -->
    <Footer />
  </body>
</html>
