---
import type { BreadcrumbProps } from "@interfaces/index";
const { dataTarget, title } = Astro.props as BreadcrumbProps;
---

<span class="nav-btn breadcrum-list-item text-sm text-center">{title}</span>
