---
import Call from "@public/svg/call.svg";
import Mail from "@public/svg/mail.svg";
import Whatsapp from "@public/svg/whatsapp.svg";

interface Props {
  buttonType: "WhatsApp" | "Phone" | "Email";
  email?: string;
  phone?: string;
  whatsapp?: string;
}

const { buttonType, email, phone, whatsapp } = Astro.props;
let svgUrl: string = "";
let url: string = "";

switch (buttonType) {
  case "WhatsApp":
    svgUrl = Whatsapp.src;
    url = `location.href='https://wa.me/${whatsapp ?? ""}'`;

    break;
  case "Email":
    url = `location.href='mailto:${email ?? ""}'`;
    svgUrl = Mail.src;

    break;
  case "Phone":
    svgUrl = Call.src;
    url = `location.href='tel:${whatsapp ?? ""}'`;
    break;
  default:
    break;
}
---

<button
  class="bg-main-buttons rounded-2xl text-white cursor-pointer hover:bg-neutral-700 w-full py-2 mb-3"
  onclick={url}
>
  <div class="items-center justify-center">
    <img
      src={svgUrl}
      alt="image description"
      class="h-6 justify-center w-full"
    />
    <div class="text-xs capitalize pt-1">{buttonType}</div>
  </div>
</button>
