---
import call from "../../public/svg/call.svg";
import mail from "../../public/svg/mail.svg";
import whatsapp from "../../public/svg/whatsapp.svg";

interface Props {
  buttonType: "WhatsApp" | "Phone" | "Email";
  email?: string;
  phone?: string;
}

const { buttonType, email, phone } = Astro.props;
let svgUrl: string = "";
let url: string = "";

switch (buttonType) {
  case "WhatsApp":
    svgUrl = whatsapp.src;
    url = `location.href='https://wa.me/${phone ?? ""}'`;

    break;
  case "Email":
    url = `location.href='mailto:${email ?? ""}'`;
    svgUrl = mail.src;

    break;
  case "Phone":
    svgUrl = call.src;
    url = `location.href='tel:${phone ?? ""}'`;
    break;
  default:
    break;
}
---

<button
  class="bg-main-buttons rounded-2xl text-white cursor-pointer hover:bg-neutral-700 mb-4 w-full py-1"
  onclick={url}
>
  <div class="items-center justify-center">
    <img
      src={svgUrl}
      alt="image description"
      class="h-8 justify-center w-full pt-2"
    />
    <span class="text-sm capitalize">{buttonType}</span>
  </div>
</button>
