---
import { Image } from "astro:assets";
import logo from "@public/svg/logo.svg";

const { isIndex } = Astro.props;
---

<footer class="bg-neutral-900 shadow p-4 antialiased">
  {
    !isIndex && (
      <div class="flex justify-center mb-5 mt-2">
        <a
          style="border-radius: 100px;"
          href="/#pre-order"
          class="py-3 px-5 text-sm font-medium text-center text-black rounded-lg bg-accent hover:bg-neutral-800 focus:ring-4 focus:outline-none"
        >
          Pre registrate aquí
        </a>
      </div>
    )
  }
  <p class="mb-4 text-sm text-center text-white">
    &copy; 2020-2024 <a
      href=""
      class="hover:underline text-white"
      target="_blank">kahete.com</a
    >. All rights reserved.
  </p>
  <div class="flex justify-center items-center space-x-1">
    <Image
      src={logo}
      height={45}
      width={45}
      class="mr-3 h-6"
      alt="Kahete Logo"
      format="avif"
      quality="mid"
    />
  </div>
</footer>
<style></style>
