---
import { Image } from "astro:assets";
import logo from "@public/svg/logo.svg";

interface Props {
  displayGetStartedButton?: boolean; // URL to the photo
}

const { displayGetStartedButton = true } = Astro.props;
---

<header>
  <nav class="bg-neutral-1000 px-4 lg:px-6 py-2.5">
    <div
      class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
    >
      <a href="/" class="flex items-center">
        <Image
          src={logo}
          height={40}
          width={40}
          alt="Kahete Logo"
          format="avif"
          quality="mid"
        />
      </a>
      {
        displayGetStartedButton ? (
          <div class="flex items-center lg:order-2">
            <a
              href="#"
              class="text-black bg-accent hover:bg-neutral-700 hover:text-white active:text-white focus:text-white focus:bg-neutral-800 font-medium rounded-full text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2"
            >
              Get started
            </a>
          </div>
        ) : (
          <div />
        )
      }
    </div>
  </nav>
</header>
