---
import download from "../../public/svg/download.svg";
---

<header>
  <nav
    class="bg-background px-4 lg:px-6 py-2.5 border-b-neutral-700 border-b-[0.5px]"
  >
    <div
      class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
    >
      <a href="" class="flex items-center">
        <img
          src="../kahete_icon_logo.svg"
          class="mr-3 h-6 sm:h-9"
          alt="Kahete Logo"
        />
      </a>
      <div
        class="inline-flex items-center justify-center rounded-full bg-white hover:bg-neutral-700 hover:text-white active:text-white focus:text-white focus:bg-neutral-800 py-2 px-4 cursor-pointer"
      >
        <img
          src={download.src}
          alt="image description"
          class="h-6 justify-start pr-2"
        />
        <span class="text-black font-medium text-base pr-2">Save contact</span>
      </div>
    </div>
  </nav>
</header>
