---
import download from "../../public/svg/download.svg";
import logo from "../../public/logo.svg";
import { Image } from "astro:assets";
---

<header>
  <nav
    class="bg-background px-4 lg:px-6 py-2.5 border-b-neutral-700 border-b-[0.5px]"
  >
    <div
      class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
    >
      <a href="/" class="flex items-center">
        <Image
          height={40}
          width={40}
          src={logo}
          alt="Kahete Logo"
          format={"avif"}
          quality={"mid"}
        />
      </a>
      <div
        class="inline-flex items-center justify-center rounded-full bg-white hover:bg-neutral-700 hover:text-white active:text-white focus:text-white focus:bg-neutral-800 py-2 px-4 cursor-pointer"
      >
        <Image
          height={30}
          width={30}
          src={download}
          alt="Download contact"
          format={"avif"}
          quality={"mid"}
          class="justify-start pr-2"
        />
        <span class="text-black font-semibold text-sm pr-2">Save contact</span>
      </div>
    </div>
  </nav>
</header>
