---
import { Icon } from "astro-icon/components";

import type { SocialMediaIconsProps, SocialMediaItemProps } from "@/interfaces";

const { url, socialMediaType, optionalName } =
  Astro.props as SocialMediaItemProps;

// Using as svg name
const socialMediaIcons: SocialMediaIconsProps = {
  Facebook: "facebook",
  Instagram: "instagram",
  LinkedIn: "linkedin",
  Youtube: "youtube",
  Github: "github",
  Bēhance: "behance",
  Snapchat: "snapchat",
  X: "x-twitter",
  Dribbble: "dribble",
  Spotify: "spotify",
  FacebookMessenger: "fb-messenger",
  Binance: "binance",
  Twitch: "twitch",
  Soundcloud: "soundcloud",
  Tinder: "tinder",
  Slack: "slack",
  Airbnb: "airbnb",
  Telegram: "telegram",
  GoogleMaps: "google-maps",
  Other: "world-web",
  Phone: "phone",
  Mail: "mail",
  TikTok: "tiktok",
  WhatsApp: "whatsapp",
  Paypal: "paypal",
  Pinterest: "pinterest",
  Survey: "survey",
  AppleMusic: "apple-music",
  Deezer: "deezer",
  Issuu: "issuu",
};

let IconUrl = socialMediaIcons[socialMediaType];
---

<a href={url} target="_blank">
  <div class="social-item-container">
    <div class="flex items-center gap-3 max-w-[80%]">
      <Icon name={"social_media_logos/" + IconUrl} size={24} />
      <div class="text-base text-start items-center truncate">
        {optionalName ? optionalName : socialMediaType}
      </div>
    </div>
    <Icon name={"commons/arrow_outward"} size={24} />
  </div>
</a>
<style>
  .social-item-container {
    @apply flex justify-between items-center rounded-lg text-white cursor-pointer mb-4 p-4;
    border-width: 1.3px;
    border-radius: 15px;
    border-color: #939393;
  }

  .text-wrapper {
  }
</style>
