---
import { Image } from "astro:assets";
import arrow_outward from "@public/svg/arrow_outward.svg";
import Youtube from "@public/social_media_logos/youtube.svg";
import Facebook from "@public/social_media_logos/facebook.svg";
import LinkedIn from "@public/social_media_logos/linkedin.svg";
import Dribble from "@public/social_media_logos/dribble.svg";
import Behance from "@public/social_media_logos/behance.svg";
import Instagram from "@public/social_media_logos/instagram.svg";
import Snapchat from "@public/social_media_logos/snapchat.svg";
import Github from "@public/social_media_logos/github.svg";
import XUrl from "@public/social_media_logos/x.svg";
import Spotify from "@public/social_media_logos/spotify.svg";
import Binance from "@public/social_media_logos/binance.svg";
import FBmessenger from "@public/social_media_logos/messenger.svg";
import Twitch from "@public/social_media_logos/twitch.svg";
import Soundcloud from "@public/social_media_logos/soundcloud.svg";
import Slack from "@public/social_media_logos/slack.svg";
import Tinder from "@public/social_media_logos/tinder.svg";
import Airbnb from "@public/social_media_logos/airbnb.svg";
import TikTok from "@public/social_media_logos/tiktok.svg";
import Telegram from "@public/social_media_logos/telegram.svg";
import GoogleMaps from "@public/social_media_logos/google-maps.svg";
import Pinterest from "@public/social_media_logos/pinterest.svg";
import Other from "@public/social_media_logos/website-click.svg";
import Paypal from "@public/social_media_logos/paypal.svg";
import Phone from "@public/svg/call.svg";
import WhatsApp from "@public/svg/whatsapp.svg";
import Mail from "@public/svg/mail.svg";
import type { SocialMediaIcons, SocialMediaItem } from "@interfaces/index";

const { url, socialMediaType, optionalName } = Astro.props as SocialMediaItem;

const socialMediaIcons: SocialMediaIcons = {
  Youtube: Youtube,
  Facebook: Facebook,
  Github: Github,
  Bēhance: Behance,
  Instagram: Instagram,
  Snapchat: Snapchat,
  LinkedIn: LinkedIn,
  X: XUrl,
  Dribbble: Dribble,
  Spotify: Spotify,
  FacebookMessenger: FBmessenger,
  Binance: Binance,
  Twitch: Twitch,
  Soundcloud: Soundcloud,
  Tinder: Tinder,
  Slack: Slack,
  Airbnb: Airbnb,
  Telegram: Telegram,
  GoogleMaps: GoogleMaps,
  Other: Other,
  Phone: Phone,
  Mail: Mail,
  TikTok: TikTok,
  WhatsApp: WhatsApp,
  Paypal: Paypal,
  Pinterest: Pinterest,
};

let IconUrl = socialMediaIcons[socialMediaType];
---

<a href={url} target="_blank">
  <div
    class="flex justify-between items-center rounded-lg text-white cursor-pointer mb-4 item-border p-4"
  >
    <div class="flex items-center gap-3">
      <Image
        format={"avif"}
        alt="arrow_outward"
        src={IconUrl!}
        quality={"high"}
        height={24}
        width={24}
      />
      <div class="text-base text-start items-center">
        {optionalName ? optionalName : socialMediaType}
      </div>
    </div>
    <Image
      format={"arrow_outward"}
      alt="header-picture"
      src={arrow_outward}
      quality={"mid"}
      height={24}
      width={24}
    />
  </div>
</a>
<style>
  .item-border {
    border-width: 1.3px;
    border-radius: 15px;
    border-color: #939393;
  }
</style>
