---
import { Image } from "astro:assets";
import arrow_outward from "@public/svg/arrow_outward.svg";
import Youtube from "@public/social_media_logos/youtube.svg";
import Facebook from "@public/social_media_logos/facebook.svg";
import LinkedIn from "@public/social_media_logos/linkedin.svg";
import Dribble from "@public/social_media_logos/dribble.svg";
import Behance from "@public/social_media_logos/behance.svg";
import Instagram from "@public/social_media_logos/instagram.svg";
import Snapchat from "@public/social_media_logos/snapchat.svg";
import Github from "@public/social_media_logos/github.svg";
import XUrl from "@public/social_media_logos/x.svg";
import Spotify from "@public/social_media_logos/spotify.svg";
import Binance from "@public/social_media_logos/binance.svg";
import FBmessenger from "@public/social_media_logos/messenger.svg";
import Twitch from "@public/social_media_logos/twitch.svg";
import Soundcloud from "@public/social_media_logos/soundcloud.svg";
import Slack from "@public/social_media_logos/slack.svg";
import Tinder from "@public/social_media_logos/tinder.svg";
import Airbnb from "@public/social_media_logos/airbnb.svg";
import TikTok from "@public/social_media_logos/tiktok.svg";
import Telegram from "@public/social_media_logos/telegram.svg";
import GoogleMaps from "@public/social_media_logos/google-maps.svg";
import Other from "@public/social_media_logos/website-click.svg";
import Phone from "@public/svg/call.svg";
import Mail from "@public/svg/mail.svg";
interface Props {
  url: string;
  optionalName?: string;
  socialMediaType:
    | "Facebook"
    | "Instagram"
    | "Website"
    | "Telegram"
    | "Dribble"
    | "Github"
    | "Bēhance"
    | "Youtube"
    | "Discord"
    | "Twitch"
    | "Spotify"
    | "LinkedIn"
    | "Binance"
    | "Snapchat"
    | "Facebook Messenger"
    | "Slack"
    | "Tinder"
    | "Soundcloud"
    | "Airbnb"
    | "Tik Tok"
    | "Telegram"
    | "GoogleMaps"
    | "Waze"
    | "Other"
    | "Phone"
    | "Mail"
    | "X";
}
const { url, socialMediaType, optionalName } = Astro.props;
let IconUrl: ImageMetadata;
switch (socialMediaType) {
  case "Youtube":
    IconUrl = Youtube;
    break;
  case "Facebook":
    IconUrl = Facebook;
    break;
  case "Github":
    IconUrl = Github;
    break;
  case "Bēhance":
    IconUrl = Behance;
    break;
  case "Instagram":
    IconUrl = Instagram;
    break;
  case "Snapchat":
    IconUrl = Snapchat;
    break;
  case "LinkedIn":
    IconUrl = LinkedIn;
    break;
  case "X":
    IconUrl = XUrl;
    break;
  case "Dribble":
    IconUrl = Dribble;
    break;
  case "Spotify":
    IconUrl = Spotify;
    break;
  case "Facebook Messenger":
    IconUrl = FBmessenger;
    break;
  case "Binance":
    IconUrl = Binance;
    break;
  case "Twitch":
    IconUrl = Twitch;
    break;
  case "Soundcloud":
    IconUrl = Soundcloud;
    break;
  case "Tinder":
    IconUrl = Tinder;
    break;
  case "Slack":
    IconUrl = Slack;
    break;
  case "Airbnb":
    IconUrl = Airbnb;
    break;
  case "Tik Tok":
    IconUrl = TikTok;
    break;
  case "Telegram":
    IconUrl = Telegram;
    break;
  case "GoogleMaps":
    IconUrl = GoogleMaps;
    break;
  case "Other":
    IconUrl = Other;
    break;
  case "Phone":
    IconUrl = Phone;
    break;
  case "Mail":
    IconUrl = Mail;
    break;

  default:
    break;
}
---

<a href={url}>
  <div
    class="flex justify-between items-center rounded-lg text-white cursor-pointer mb-4 item-border p-4"
  >
    <div class="flex items-center gap-3">
      <Image
        format={"avif"}
        alt="arrow_outward"
        src={IconUrl!}
        quality={"high"}
        height={24}
        width={24}
      />
      <div class="text-base text-start items-center">
        {optionalName ? optionalName : socialMediaType}
      </div>
    </div>
    <Image
      format={"arrow_outward"}
      alt="header-picture"
      src={arrow_outward}
      quality={"mid"}
      height={24}
      width={24}
    />
  </div>
</a>
<style>
  .item-border {
    border-width: 1.3px;
    border-radius: 15px;
    border-color: #939393;
  }
</style>
