---
import { Image } from "astro:assets";
import arrow_outward from "@public/svg/arrow_outward.svg";
import Phone from "@public/svg/call.svg";
import WhatsApp from "@public/svg/whatsapp.svg";
import Mail from "@public/svg/mail.svg";
import {
  Youtube,
  Facebook,
  LinkedIn,
  Dribble,
  Behance,
  Instagram,
  Snapchat,
  Github,
  XUrl,
  Spotify,
  Binance,
  FBmessenger,
  Twitch,
  Soundcloud,
  Slack,
  Tinder,
  Airbnb,
  TikTok,
  Telegram,
  GoogleMaps,
  Pinterest,
  Other,
  Paypal,
  Survey,
} from "@public/social_media_logos/index";

import type { SocialMediaIconsProps, SocialMediaItemProps } from "@/interfaces";

const { url, socialMediaType, optionalName } =
  Astro.props as SocialMediaItemProps;

const socialMediaIcons: SocialMediaIconsProps = {
  Youtube: Youtube,
  Facebook: Facebook,
  Github: Github,
  Bēhance: Behance,
  Instagram: Instagram,
  Snapchat: Snapchat,
  LinkedIn: LinkedIn,
  X: XUrl,
  Dribbble: Dribble,
  Spotify: Spotify,
  FacebookMessenger: FBmessenger,
  Binance: Binance,
  Twitch: Twitch,
  Soundcloud: Soundcloud,
  Tinder: Tinder,
  Slack: Slack,
  Airbnb: Airbnb,
  Telegram: Telegram,
  GoogleMaps: GoogleMaps,
  Other: Other,
  Phone: Phone,
  Mail: Mail,
  TikTok: TikTok,
  WhatsApp: WhatsApp,
  Paypal: Paypal,
  Pinterest: Pinterest,
  Survey: Survey,
};

let IconUrl = socialMediaIcons[socialMediaType];
---

<a href={url} target="_blank">
  <div
    class="flex justify-between items-center rounded-lg text-white cursor-pointer mb-4 item-border p-4"
  >
    <div class="flex items-center gap-3 max-w-[80%]">
      <Image
        format={"avif"}
        alt="arrow_outward"
        src={IconUrl!}
        quality={"high"}
        height={24}
        width={24}
      />
      <div class="text-base text-start items-center truncate">
        {optionalName ? optionalName : socialMediaType}
      </div>
    </div>
    <Image
      format={"arrow_outward"}
      alt="header-picture"
      src={arrow_outward}
      quality={"mid"}
      height={24}
      width={24}
    />
  </div>
</a>
<style>
  .item-border {
    border-width: 1.3px;
    border-radius: 15px;
    border-color: #939393;
  }

  .text-wrapper {
  }
</style>
