---
import TASlogo from "@public/companies/tas.jpeg";
import { Image } from "astro:assets";
---

<header class="bg-white">
  <nav class="max-w-screen-xl">
    <div class="align-logo">
      <Image
        height={1600}
        width={911}
        src={TASlogo}
        alt="TAS Logo"
        format={"avif"}
        quality={"high"}
      />
    </div>
  </nav>
</header>

<style>
  .align-logo {
    width: 120px;
    height: 5rem;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
