---
import HeaderNavBar from "@/components/shared/StepperNavBar.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <section class="h-[80vh]">
    <HeaderNavBar />
  </section>
</MainLayout>
