---
import BaseHead from "@/components/legacy/BaseHead.astro";
import { GlobalSonner } from "@/components/shared/GlobalSonner";
import { GlobalToasters } from "@/components/shared/GlobalToaster";
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <BaseHead title={""} description={""} image={""} />
  </head>
  <body>
    <GlobalToasters client:load />
    <GlobalSonner client:load />
    <section>
      <slot />
    </section>
  </body>
</html>
