---
import BaseHead from "@/components/legacy/BaseHead.astro";
import { GlobalSonner } from "@/components/shared/GlobalSonner";
import { GlobalToasters } from "@/components/shared/GlobalToaster";
---

<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Kahete" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#14191c" />
    <BaseHead title={"Kahete"} description={"Developer"} image={"./Logo.png"} />
  </head>
  <body>
    <GlobalToasters client:load />
    <GlobalSonner client:load />
    <section class="mx-auto md:w-4/12 px-4">
      <slot />
    </section>
  </body>
</html>
