---
import BaseHead from "@/components/legacy/BaseHead.astro";

---

<html lang="en">
  <head>
    <BaseHead title={""} description={""} image={""} />
  </head>
  <body>
    <section>
      <slot />
    </section>
  </body>
</html>
