---
import BaseHead from "@/components/legacy/BaseHead.astro";
import { GlobalSonner } from "@/components/shared/GlobalSonner";
import { GlobalToasters } from "@/components/shared/GlobalToaster";
---

<html lang="en">
  <head>
    <BaseHead title={"Kahete"} description={"Developer"} />
  </head>
  <body>
    <GlobalToasters client:load />
    <GlobalSonner client:load />
    <section class="mx-auto md:w-4/12 px-4">
      <slot />
    </section>
  </body>
</html>
